<div class="footer-container">
  <div class="footer-section-wrapper">

    <div class="address-section">
      <div class="address-section-one">
        <div class="address-section-title"> Lugar </div>
        <div class="address-details">
          <div class="company-location">
            <img src="assets/img/vector-marker.svg" alt="marker-icon">  2118 Thornridge Cir. Dubai, UAE 35624
          </div>
          <div class="company-location">
            <img src="assets/img/call-icon.svg" alt="call-icon">  +33 415 65356 - 9
          </div>
          <div class="company-location">
            <img src="assets/img/mail-icon.svg" alt="call-icon">  contact@lugar.com
          </div>
        </div>
      </div>
    </div>

    <div class="link-section">

      <div class="link-section-one">
        <div class="link-section-title"> Juste un footer </div>
        <div class="links-details">
          <div class="link-item">
            Lien du menu
          </div>
          <div class="link-item">
            Lien du menu
          </div>
          <div class="link-item">
            Lien du menu
          </div>
          <div class="link-item">
            Lien du menu
          </div>
        </div>
      </div>

      <div class="link-section-two">
        <div class="link-section-title"> Juste un footer </div>
        <div class="links-details">
          <div class="link-item">
            Autre lien utile
          </div>
          <div class="link-item">
            Autre lien utile
          </div>
          <div class="link-item">
            Autre lien utile
          </div>
        </div>
      </div>

      <div class="link-section-three">
        <div class="link-section-title"> Juste un footer </div>
        <div class="links-details">
          <div class="link-item">
            Reseaux sociaux
          </div>
          <div class="link-item">
            Reseaux sociaux
          </div>
          <div class="link-item">
            Reseaux sociaux
          </div>
          <div class="link-item">
            Reseaux sociaux
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
