<div class="container">
  <div class="section-title">Hot deals of the moment</div>
  <div class="section-subTitle">Find the house of your dream with an interesting price.</div>

  <div class="all-deals-list-container">
    <div class="all-deals-list">

      <div class="no-announcement" *ngIf="!houseList.length else houseListTemp ">
        <div>
          No announcement available for now...
        </div>

        <div class="action-button">
          <button class="button sell-button"  (click)="navigate('/main/add-new-posts')" >Sell a house</button>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #houseListTemp>
  <app-house-preview *ngFor="let item of houseList; let i = index" [previewImgUrl]="serverApiUrl+item.imageUrl" [houseId]="item.houseId"
    [houseName]="item.title" [houseTown]="item.location">
  </app-house-preview>
</ng-template>
