.container {
  margin-top: 120px;

  .all-deals-list-container {
    .all-deals-list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      @media (max-width: 768px) {
        grid-template-columns: auto auto;
      }
      @media (max-width: 425px) {
        grid-template-columns: auto;
      }

      app-house-preview {
        margin: 50px 20px;
        @media (max-width: 1024px) {
          margin: 50px 10px;
        }
      }
    }
  }

}

