<div class="container">
  <div class="section-title">Hot deals of the moment</div>
  <div class="section-subTitle">Find the house of your dream with an interesting price.</div>

  <div class="all-deals-list-container">
    <div class="all-deals-list">

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

      <app-house-preview
        previewImgUrl='https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg'
        houseName="Newly Built 5 Bedrooms Detached House" houseTown="Lekki Lagos">
      </app-house-preview>

    </div>
  </div>
</div>
