
  <div class="item-wrapper">
    <div class="image-associate">
      <img src="https://media.jumiadeals.com/ng_live/39116aafaf5ea444bd9aaaa.mobile-gallery-large.jpg" alt="house-img" class="house-img">
    </div>

    <div class="text-associate">
      <div class="item-title"> Golf Course View 3 Bedroom Apartment </div>
      <div class="item-sub-title"> Ikoyi Lagos </div>
      <div class="item-price"> 15,000,000 / year. </div>
      <p class="item-description"> Scenic Golf Course Views, Amazing Greenery, Swimming Pool, Ample Covered Parking, Sit-Out Terrace, Spacious Living Areas </p>
      <p class="item-description"> Apart from its purely aesthetic finishing, this home also comes packed with a roster of perks and amenities, ample covered parking areas that ensure your cars have minimal exposure to the elements. The extensive greenery doesn’t just serve for amazing views as they offer an extra peaceful ambience to the living experience. </p>

      <div class="action-button-box">

        <div class="action-button">
          <button class="button modify-button">Modify</button>
        </div>

        <div class="action-button">
          <button class="button delete-button">Delete</button>
        </div>

      </div>
    </div>
  </div>
