
  <div class="item-wrapper">
    <div class="image-associate">
      <img [src]="serverApiUrl + houseDetais.imageUrl" alt="house-img" class="house-img">
    </div>

    <div class="text-associate">
      <div class="item-title">  {{ houseDetais.title }} </div>
      <div class="item-sub-title"> {{ houseDetais.location }} </div>
      <div class="item-price">  {{ houseDetais.price }}  / year. </div>
      <p class="item-description">  {{ houseDetais.advantage }}  </p>
      <p class="item-description">  {{ houseDetais.description }}  </p>

      <div class="action-button-box" *ngIf="canModify()">

        <div class="action-button">
          <button class="button modify-button" (click)="modifyUserAnnouncement()">Modify</button>
        </div>

        <div class="action-button">
          <button class="button delete-button" (click)="deleteUserAnnouncement()">Delete</button>
        </div>

      </div>
    </div>
  </div>
