<div class="topnavbar ">

  <div class="mobile-menu-toggler-and-brand">

    <div class="menu-hamburger-icon-wrapper">
      <span>
        <img
          class="hamburger-icon"
          src="assets/img/square.png"
          width="35" height="35" alt="Hamburger Icon For Mobile">
      </span>
    </div>

    <div class="company-brand">
      Lugar
    </div>

  </div>

  <div class="top-menu-item">
    <div class="menu-item">
      Home
    </div>
    <div class="menu-item">
      Hot deals
    </div>
    <div class="menu-item">
      Houses for sale
    </div>
    <div class="menu-item">
      Sign in
    </div>
    <div class="menu-item">
      Sign up
    </div>
  </div>
</div>
