.main-content {
  margin-top: 100px;
  width: calc(100vw - 165px);
  margin-left: 165px;
  height: calc(100vh - 100px);
  overflow:scroll;
  padding: 15px;
  position: relative;
}
.main-content {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.main-content::-webkit-scrollbar {
   display: none;
}
