.main-content {
  margin-top: 100px;
  width: calc(100vw - 165px);
  margin-left: 165px;
  height: calc(100vh - 100px);
  overflow:scroll;
  padding: 15px;
  position: relative;
}
.main-content {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.main-content::-webkit-scrollbar {
   display: none;
}

.button {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border: 2px solid #1E3240;
  outline: none;
  box-sizing: border-box;
  background-color: #1E3240;
  color: #AFD4E2;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background: #AFD4E2;
  border: 2px solid #AFD4E2;
  color: #1E3240;
}
