.container {
  margin-top: 130px;

  .all-deals-list-container {
    .all-deals-list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;

      app-house-preview {
        margin: 50px 20px;
      }
    }
  }

}

