<div>
  <div *ngIf="userHouseList.length">
    <div class="section-title" >Here is all your active announcement</div>
    <div class="section-subTitle">You can feel free to manage them...</div>
  </div>
<div>

<div class="container">

  <div class="no-annoouncement" *ngIf="!userHouseList.length else userHouseListTemp ">
    <div>
      You have no active announcement published for now...
    </div>

    <div class="action-button">
      <button class="button sell-button"  (click)="navigate('/main/add-new-posts')" >Sell your house</button>
    </div>
  </div>

</div>



<ng-template #userHouseListTemp>
  <app-house-details-card
  *ngFor="let item of userHouseList; let i = index"
  [houseDetais]="item"
  (modifyButtonClicked)="modifyUserAnnouncement($event)"
  (deleteButtonClicked)="deleteUserAnnouncement($event)"
   ></app-house-details-card>
</ng-template>


<button (click)="openAddForm()" class="button add-offer-button"> + </button>
