<div class="header">
  <div class="header-text-box">
    <div class="headline-text">
      <span>Every home is built with love and dreams</span>
    </div>
    <div class="subline-text">
      <span>We can help you sell or  get a house right now ! </span>
    </div>
    <div class="action-button-box">

      <div class="action-button">
        <button class="button check-button">Check available houses</button>
      </div>

      <div class="action-button">
        <button class="button sell-button">Sell your house</button>
      </div>

    </div>
  </div>
  <img src="assets/img/showing-arrow.svg" alt="showing-arrow" class="showing-arrow">
  <img src="assets/img/left-highlight.svg" alt="left-highlight" class="header-left-highlight">
  <img src="assets/img/right-highlight.svg" alt="left-highlight" class="header-right-highlight">
  <img src="assets/img/header-house-img.png" alt="house-img" class="header-house-img">
</div>

<div class="container">
</div>
