/* You can add global styles to this file, and also import other style files */
@import 'scss/fonts';

// app global style
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Mulish-Regular; // imported font
    background-color: #FFF;
}

button {
    cursor: pointer;
}

.container {
  width: 76%;
  font-size: 20px;
  margin: 30px auto;
}

.section-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  color: #1E3240;
}

.section-subTitle {
  font-size: 18px;
  line-height: 120%;
  color: #BDBDBD;
  margin-bottom: 15px;
}

