
/* -------------------------- TopNavbar -----------------------------*/
  .topnavbar-full-space {
    margin-left: 0px; /* No sidenav */
    width: 100vw;
  }

  /* TopNavbar css */
  .topnavbar {
    background-color: #AFD4E2;
    position: fixed;
    top: 0;
    width: 100%!important;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .mobile-menu-toggler-and-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      margin-left: 165px;
    }
  }

  .hamburger-icon {
    position: relative;
    top: 2px;
  }

  .company-brand {
    font-family: Mulish-Medium;
    font-weight: bold;
    font-size: 50px;
    color: #1E3240;
  }



  .topnavbar-full-space{
      width: 100vw !important;
  }

  .menu-hamburger-icon-wrapper {
    width: fit-content;
    @media (min-width: 768px) {
      display: none!important;
    }
  }

  .top-menu-item {
    width: 450px;
    margin-right: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-item a {
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .top-menu-item {
      display: none;
    }
  }

  .topnavbar a {
    color:#1E3240;
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
  }

  .topnavbar a:hover {
    color: black;
  }
