<div class="auth-modal-wrapper" *ngIf="authActive">
  <div class="modal-container" (click)="authActive = false;">
  </div>
  <div class="modal-body-card">
    <div *ngIf="componentToDisplay === 'SignIn'">
      <app-login></app-login>
      <div class="container">
        <div class="call-to-action-message"> No account ? <span (click)="
        componentToDisplay = 'SignUp'" class="bold-text">Signup</span>  now and enjoy !</div>
      </div>
    </div>
    <div *ngIf="componentToDisplay === 'SignUp'">
      <app-signup></app-signup>
      <div class="container">
        <div class="call-to-action-message"> Oh! You have an account. Then <span  (click)="
          componentToDisplay = 'SignIn'" class="bold-text">Sign in </span>!</div>
      </div>
    </div>
  </div>

</div>

<div class="topnavbar ">

  <div class="mobile-menu-toggler-and-brand">

    <div class="menu-hamburger-icon-wrapper">
      <span>
        <img
          class="hamburger-icon"
          src="assets/img/square.png"
          width="35" height="35" alt="Hamburger Icon For Mobile">
      </span>
    </div>

    <div class="company-brand">
      EasyHouz
    </div>

  </div>

  <div class="top-menu-item">
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/home"  class="">Home</a>
    </div>
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/home/all-houses"  class="">Houses for sale</a>
    </div>
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/main"  class="">Your account</a>
    </div>
    <div class="menu-item">
      <a (click)="openSignIn()" class="">Sign out</a>
    </div>
    <div class="menu-item">
      <a (click)="openSignIn()" class="">Sign in</a>
    </div>
  </div>
</div>
