
/* -------------------------- TopNavbar -----------------------------*/
  .topnavbar-full-space {
    margin-left: 0px; /* No sidenav */
    width: 100vw;
  }

  /* TopNavbar css */
  .topnavbar {
    background-color: #AFD4E2;
    position: fixed;
    top: 0;
    width: 100%!important;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .mobile-menu-toggler-and-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      margin-left: 65px;
    }
  }

  .hamburger-icon {
    position: relative;
    top: 2px;


  }

  .company-brand {
    font-family: Mulish-Medium;
    font-weight: bold;
    font-size: 50px;
    color: #1E3240;

    @media (max-width: 816px) {
      font-size: 25px;
      margin-left: 25px;
      margin-right: 65px;
    }
    @media (max-width: 699px) {
      font-size: 25px;
      margin-left: 15px;
      margin-right: 65px;
    }
  }



  .topnavbar-full-space{
      width: 100vw !important;
  }

  .menu-hamburger-icon-wrapper {
    width: fit-content;
    margin-left: 50px;
    @media (min-width: 700px) {
      display: none!important;
    }
  }

  .top-menu-item {
    width: 550px;
    margin-right: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      width: 450px;
      margin-right: 69px;
      // display: none;
    }

    @media (max-width: 699px) {
      display: none!important;
    }

    .menu-item a {
      cursor: pointer;
      font-size: 21px;
      @media (max-width: 1024px) {
        font-size: 18px;
      }

    }
  }



  .topnavbar a {
    color:#1E3240;
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
  }

  .topnavbar a:hover {
    color: black;
  }

  .topnavbar a.active {
    text-decoration: underline;
  }

.container {
  width: 90%;
}

.call-to-action-message {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #224957;
  margin-bottom: 40px;

  .bold-text {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
}

.auth-modal-wrapper {
  .modal-container {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.75);
      z-index: 50;
  }

  .modal-body-card {
      position: fixed;
      top: 10px;
      right: 0px;
      width: 400px;
      height: calc(100vh - 20px);
      overflow: scroll;
      background-color: #FFF;
      box-shadow: 0px 2px 8px rgba(0,0,0,0.26);
      z-index: 100;
      padding: 16px;
  }


  .modal-body-card {
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
  }

  .modal-body-card::-webkit-scrollbar {
     display: none;
  }




}


/* --------------------------Fixed sidenav, full height -----------------------------*/
.sidenav-mobile {
  height: 100vh;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1E3240;
  z-index: 51;


  .company-brand-mobile {
    font-family: Mulish-Medium;
    font-weight: bold;
    font-size: 50px;
    color: #FFF;
    margin: 25px 0;

    @media (max-width: 816px) {
      font-size: 25px;
      margin-left: 25px;
      margin-right: 65px;
    }
    @media (max-width: 699px) {
      font-size: 25px;
      margin-left: 15px;
      margin-right: 65px;
    }
  }

}

@media screen and (max-height: 450px) {
  .sidenav-mobile {
    padding-top: 15px;
  }
  .sidenav-mobile a {
    font-size: 18px;
  }
}

.sidebar-menu-item {
  padding: 15px 0 15px 15px;

  /* Style the sidenav links and the dropdown button */
  a {
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #FFF;
    font-size: 20px;
  }

  /* On mouse-over */
  a:hover {
    color: #AFD4E2;
  }
}

.sidenav-mobile {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.sidenav::-webkit-scrollbar {
   display: none;
}
