<div class="topnavbar ">

  <div class="mobile-menu-toggler-and-brand">

    <div class="menu-hamburger-icon-wrapper">
      <span>
        <img
          class="hamburger-icon"
          src="assets/img/square.png"
          width="35" height="35" alt="Hamburger Icon For Mobile">
      </span>
    </div>

    <div class="company-brand">
      OwnHouz
    </div>

  </div>

  <div class="top-menu-item">
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/home"  class="">Home</a>
    </div>
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/home/all-houses"  class="">Houses for sale</a>
    </div>
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/main/"  class="">Your dashboard</a>
    </div>
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/auth/signin"  class="">Sign in</a>
    </div>
    <div class="menu-item">
      <a routerLinkActive="active"  routerLink="/auth/signup"  class="">Sign up</a>
    </div>
  </div>
</div>
