<div class="footer-container">
  <div class="footer-section-wrapper">

    <div class="address-section">
      <div class="address-section-one">
        <div class="address-section-title"> Lugar </div>
        <div class="address-details">
          <div class="company-location">
            <img src="assets/img/vector-marker.svg" alt="marker-icon">  2118 Thornridge Cir. Dubai, UAE 35624
          </div>
          <div class="company-location">
            <img src="assets/img/call-icon.svg" alt="call-icon">  +33 415 65356 - 9
          </div>
          <div class="company-location">
            <img src="assets/img/mail-icon.svg" alt="call-icon">  contact@lugar.com
          </div>
        </div>
      </div>
    </div>

    <div class="link-section">

      <div class="link-section-one">
        <div class="link-section-title"> Quick links </div>
        <div class="links-details">
          <div class="link-item">
            Home
          </div>
          <div class="link-item">
            About
          </div>
          <div class="link-item">
            Project
          </div>
          <div class="link-item">
            Contact
          </div>
        </div>
      </div>

      <div class="link-section-two">
        <div class="link-section-title"> Legal Links </div>
        <div class="links-details">
          <div class="link-item">
            Terms
          </div>
          <div class="link-item">
            Conditions
          </div>
          <div class="link-item">
            Policy
          </div>
        </div>
      </div>

      <div class="link-section-three">
        <div class="link-section-title"> Social media </div>
        <div class="links-details">
          <div class="link-item">
            Facebook
          </div>
          <div class="link-item">
            Twitter
          </div>
          <div class="link-item">
            YouTube
          </div>
          <div class="link-item">
            LinkedIn
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
