  <div class="section-title">Hello !</div>
  <div class="section-subTitle">Do you have a house to sell ? Then we can help you do it easily...</div>

  <p> Here is your private space. With this account we are giving you the opportunity to post a real estate opportunity and also manage all your post the way you want.</p>

  <p>You can post a new real estate offer, that will automatically be published on the public space. By this way people can get in touch with you regarding that offer.</p>

  <p>You can also modify a posted offer or delete it when this offer is no longer available.</p>

  <div class="get-started-msg">Get started by clicking on the plus button bellow !</div>
